/* Main content: flex layout with courses list and calendar */
.courses-schedule-container {
  display: flex;
  padding: 10px;
}

@media (max-width: 750px) {
  .courses-schedule-container {
    flex-direction: column; /* Stack courses and calendar vertically */
    align-items: center; /* Center items when stacked */
  }

  .courses-container {
    width: 100%;
    justify-content: center;
  }

  .schedule-container {
    width: 100%;
    justify-content: center;
  }
}
